{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        {% comment %} <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
        </div>
        </div> {% endcomment %}
        <!-- FORM HERE -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color:black;">Are you sure you want to delete '{{ name }}'?</legend>
                {% comment %} <h4></h4> {% endcomment %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </form>


        <style>

            input{
                height:20px;
                width:20px;
            }

            .content{
                display:none;
            }

            @media only screen and (max-width: 420px) {
                .account-img{
                    width:70px;
                    height:70px;
                }

                .account-heading{
                    font-size:25px;
                    margin-top:15px;
                }
            }
        </style>
    </div>
{% endblock content %}